<div class="tile">
  <div class="center">
    <h2>Question</h2>
    <h1><%= @question.text %></h1>
  </div>

  <br>

  <p>Welcome to the Group Decision Maker! In the following screens, you’ll be shown a few possible options for the question above. Rate each option individually and as honestly as you can. Don’t worry, your responses are completely anonymous.</p>

  <br>

  <h2 class="button"><%= link_to "Begin", option_path(@option) %></h2>

  <br>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>

  <br>

  <h2 onclick="copyToClipboard('#url')" class="clickable">Copy link to question</h2>
  <p class="hidden" id="url"><%= request.original_url %></p>
  <h2><%= link_to "Close question", question_results_path(@question) %></h2>
</div>
