<div class="tile">
  <h2>Question</h2>
  <h1><%= @question.text %></h1>

  <br>

  <p>This question is using a tiny little group decision making app that helps groups make decisions quickly and precisely. You will anonymously and honestly rate options, one by one, and when the question is closed, your group will know what to do.</p>

  <br>

  <h2 class="button"><%= link_to "Begin", option_path(@option) %></h2>

  <br>

  <script>
    function copyToClipboard(element) {
      var $temp = $("<input>");
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
    }
  </script>

  <br>

  <h2 onclick="copyToClipboard('#url')" class="clickable">Copy link to question</h2>
  <p class="hidden" id="url"><%= request.original_url %></p>
  <h2><%= link_to "Close question", question_results_path(@question) %></h2>
</div>
