<div id="question-topbar" class="topbar small-12 medium-8 large-6 small-centered columns row">
  <h2><%= @question.text %></h2>
</div>

<script>
  $(document).ready(function() {
    let contentPlacement = $('#question-topbar').position().top + $('#question-topbar').outerHeight();
    $('#content').css('margin-top', contentPlacement+20);
  });
</script>

<div id="content">
  <div id="option-show" data-id="<%= @option.id %>"></div>
</div>
