@import "settings";
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

$black: #000000;
$blue: #4990e2;
$gray: #808080;
$lightgreen: #b8e986;
$orange: #FFB26F;
$placeholder-gray: #cccccc;
$white: white;

$shadow: 0 0 1em 0 rgba(0,0,0,.5);
$transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

$allcaps: 'Space Mono', monospace;

body {
  background-color: $blue;
}

h1 {
  color: $blue;
  font-size: 1.5em;
  margin: 0.5em;
}

h2 {
  font-family: $allcaps;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  color: $gray;
  line-height: 1.25;
  margin: auto;
  margin-bottom: 0.5em;
  max-width: 75%;
}

a {
  color: $placeholder-gray;
  text-transform: uppercase;
  transition: $transition;
}

a:hover, a:focus {
  color: $black;
}

*:focus {
  outline: none;
}

input {
  background-color: $white;
  border: 0;
  cursor: inherit;
  text-align: center;
  width: 100%;
}

input::placeholder {
  color: $placeholder-gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  cursor: inherit;
}

.title {
  color: $white;
  padding: 2em;
  text-align: center;
}

.tile {
  background-color: $white;
  border-radius: .25em;
  box-shadow: $shadow;
  margin: 1em;
  padding: 1em 2em;
  text-align: center;

  .button {
    box-shadow: 0 0 .5em 0 rgba(0,0,0,.4)
  }
}

.topbar {
  background-color: white;
  box-shadow: $shadow;
  left: 0;
  padding: 1.5em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.clickable {
  color: $placeholder-gray;
  cursor: pointer;
}

.clickable:hover, .clickable:focus {
  color: $black;
}

.button {
  background-color: $lightgreen;
  border: 0;
  border-radius: 100px;
  box-shadow: $shadow;
  color: inherit;
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  text-align: center;
  text-transform: inherit;
  transition: $transition;
  width: auto;

  a {
    color: inherit;
  }

  a:hover, a:focus {
    color: $black;
  }
}

.button:hover {
  background-color: $lightgreen;
  box-shadow: none;
  color: inherit;
}

.tip {
  background-color: $placeholder-gray;
  box-shadow: $shadow;
  font-size: 0.75em;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  width: 50%;
}

.option-text {
  margin-bottom: 2em;
}

.response {
  border-top: 1px solid $placeholder-gray;
  padding: 1.5em;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    .response {
      border-top: 1px solid $placeholder-gray;
      padding: 1em;
    }
  }



.response:hover {
  color: $blue;
}

.response:active {
  color: $blue;
}

.selected {
  color: $blue;
}

.float {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1em;
}

#score {
  color: $orange;
}

#please-no {
  cursor: image-url("please_no.png") 10 10, default;
}

#rather-not {
  cursor: image-url("rather_not.png") 10 10, default;
}

#sure {
  cursor: image-url("sure.png") 10 10, default;
}

#please-yes {
  cursor: image-url("please_yes.png") 10 10, default;
}

#app {
}
