@import "settings";
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700');

$blue: #4990e2;
$placeholder-gray: #cccccc;
$white: white;
$lightgreen: #b8e986;

body {
  background-color: $blue;
}

h1 {
  color: $blue;
  font-size: 1.5em;
  margin-bottom: 0;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  color: gray;
  line-height: 1.25;
  margin-bottom: 0;
}

a {
  color: $placeholder-gray;
}

a:hover, a:focus {
  color: black;
}

*:focus {
  outline: none;
}

input {
  background-color: $white;
  border: none;
  cursor: inherit;
  text-align: center;
  width: 100%;
}

input::placeholder {
  color: $placeholder-gray
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  cursor: inherit;
}

.tile {
  background-color: $white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: .25em;
  margin: 1em;
  padding: 2em;
  text-align: center;
}

.topbar {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  left: 0;
  padding: 2em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.spacer {
  margin: 10em;
}


.center {
  text-align: center;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: $placeholder-gray;
}

.clickable:hover, .clickable:focus {
  color: black;
}

.button {
  background-color: $lightgreen;
  border: none;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: inherit;
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  text-align: center;
  text-transform: inherit;
  transition: all 0.3s cubic-bezier(.25, .8, 0.25, 1);
  width: auto;

  a {
    color: inherit;
  }

  a:hover, a:focus {
    color: black;
  }
}

.button:hover {
  background-color: $lightgreen;
  box-shadow: none;
  color: inherit;
}

.tip {
  background-color: $placeholder-gray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: .75em;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  width: 50%;
}

.response {
  border-top: 1px solid $placeholder-gray;
  padding: 2em;
}

#please-no {
  cursor: image-url('please_no.png') 10 10, default;
}

#rather-not {
  cursor: image-url('rather_not.png') 10 10, default;
}

#sure {
  cursor: image-url('sure.png') 10 10, default;
}

#please-yes {
  cursor: image-url('please_yes.png') 10 10, default;
}


#app {
  display: none;
}
